<% title "Groups" %>

<h2>Groups</h2>
<% sub_menu(:class => "tab_nav") do |m| %>
  <% m.link "Your groups", groups_path %>
  <% m.link "Create a new group", new_group_path %>
  <% m.link "Search groups", search_groups_path %>
<% end %>

<div class="submenu-content your-groups">
  <%= yield %>
</div>