<% title @group.name %>
<h2><%= link_to @group.name, @group %></h2>

<% sub_menu(:class => "tab_nav") do |m| %>
  <% m.link "Contributions", haikus_group_path(@group) %>
  <% m.link "Members", group_memberships_path(@group) %>
<% end %>