<% title current_group.name %>

<style>
.text_author_group .group-text {
  display: none;
}
</style>

<div class="group-header">
  <div class="logo">
    <%= image_tag current_group.logo.url(:large) %>
  </div>
  <div class="nav">
    <h2><%= link_to_unless_current current_group.name, current_group %></h2>
    <% sub_menu(:class => "tab_nav") do |m| %>
      <% m.link "Haikus", haikus_group_path(current_group) %>
      <% m.link "Members", memberships_path(current_group) %>
      <% if current_author.try(:can_administer?, current_group) %>
        <% m.link "Manage", :controller => "/groups/manage", :group_id => current_group %>
      <% end %>
      <% if current_group.members_only && !current_author.try(:can_contribute?, current_group) %>
        <% m.link "Join this group", apply_memberships_path(current_group) %>
      <% else %>
        <% m.link "Contribute", contribute_group_path(current_group) %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="group-content">
  <%= yield %>
</div>