<li><%= link_to user.useralias, :controller => "users", :action => "show", :id => user %>

<% if user.group_users.find(:first, :conditions => 
    ["group_id = ?", group.id ] ).user_type == "admin" %>
<i>(admin)</i>
<% end %>
</li>
