<% title "Groups" %>

<div class="groups-header">
  <h2>Groups</h2>
  <%= link_to 'Create a new group', new_group_path %> |
  <%= link_to 'Search groups', search_groups_path %>
</div>

<%= render :partial => "group", :collection => @groups %>

<%= will_paginate @groups, :id => 'pagination', :previous_label => '< Newer', :next_label => 'Older >', :page_links => false %>