<% if session[:user_id] %>
<h1>Groups you administer:</h1>
<%= render :partial => "group", :collection => @user.groups %>
<% end %>

<% content_for(:header) do %>
  Groups
<% end %>

<%= render :partial => "group", :collection => @groups %>