<% render :layout => 'layout' do %>
  <div class="summary">
    <em>
      <% if current_group.members_only %>
      Only members can contribute haikus to this group.
      <% else %>
      Anyone can contribute haikus to this group.
      <% end %>
    </em>
  </div>
  <div class="summary">
    <h3>Group description</h3>
    <p><%= h current_group.description %></p>
  </div>
  <div class="summary">
    <h3>Recent haikus</h3>
    <% if @haikus.any? %>
      <%= render_haikus @haikus %>
      <%= link_to 'See more haikus', haikus_group_path(current_group) %>
    <% else %>
      <p>
        This group has no haikus.
        Be the first to <%= link_to "contribute", contribute_group_path(current_group) %>.
      </p>
    <% end %>
  </div>
<% end %>