= div_for(conversation) do
  %p{:style => 'float: left;'}
    = conversation.updated_at.strftime("%d %b %y")
  %p{:style => 'float: left;'}
    = render :partial => 'terse_haiku', :collection => conversation.recent_haikus