= div_for(conversation) do
  %div{:style => 'float: left;'}
    = conversation.updated_at.strftime("%d %b %y")
  %div{:style => 'float: left; margin-left: 10px'}
    - conversation.recent_haikus.each do |haiku|
      .terse-haiku= haiku.terse