<% title 'Profile' %>

<% sub_menu(:class => "tab_nav") do |m| %>
  <% m.link "Account", :action => 'index' %>
  <% m.link "Password", :action => 'password' %>
  <% m.link "Avatar", :action => 'avatar' %>
  <% m.link "Twitter", :action => 'twitter' %>
<% end %>

<div class="submenu-content">
  <%= yield %>
</div>