<% form_for :author, :url => {:action => 'update'}, :html => { :multipart => true } do |form| %>
  <p>
    <%= image_tag current_author.avatar.url(:medium) %>
  </p>
  <p>
    <%= form.file_field :avatar %>
  </p>
  <p>
    <%= form.submit "Save" %>
  </p>
<% end %>