<% title 'Messages' %>
<h2>Messages</h2>

<div class="messages">
  <% if @friends.any? %>
    <%= render 'form' %>
  <% else %>
    <p>You do not have any mutual friends to send a message to</p>
  <% end %>

  <%= render :partial => "message", :collection => @messages %>
  <%= will_paginate @messages, :id => 'pagination', :previous_label => '< Newer', :next_label => 'Older >', :page_links => false %>
</div>
