<% title 'Messages' %>
<h2>Messages</h2>

<div class="messages">
  <% if @messages.empty? %>
    <p>You do not have any mutual friends to send a message to</p>
  <% end %>

  <% @messages.each do |message| %>
    <%= render message %>
  <% end %>
  <%= paginate @messages, id: 'pagination', previous_label: '< Newer', next_label: 'Older >', page_links: false %>
</div>
