<% render :layout => 'authors/show_layout' do %>
  <ul class="subject-list">
    <% @subjects.each do |subject| %>
    <li>
      <%= link_to subject.name, author_subject_url(:author_id => @author.username, :id => subject.name) %>
      <%= " (#{subject.count})" %>
    </li>
    <% end %>
  </ul>
<% end %>