<% render :layout => 'authors/show_layout' do %>
  <ul>
    <% @subjects.each do |(subject_name, count)| %>
    <li>
      <%= link_to subject_name, author_subject_url(:author_id => @author.username, :id => subject_name) %>
      <%= " (#{count})" %>
    </li>
    <% end %>
  </ul>
<% end %>