<h1>Available Schools</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Isadultonly</th>
    <th>Isprivate</th>
  </tr>
  
<% for school in @schools %>
<h2><%=h school.name %></h2>
<p><i>
<% if school.isadultonly %>Adult<% end %>
<% if school.isprivate %>Private<% end %>
</i></p>
<p><%=h school.description %></p>
<%= link_to 'Show', school_path(school) %> 
<%= link_to 'Edit', edit_school_path(school) %>
<br />
<% end %>
<br />

<%= link_to 'New school', new_school_path %>
