<p>
  <b>Name:</b>
  <%=h @school.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @school.description %>
</p>

<p>
  <b>Isadultonly:</b>
  <%=h @school.isadultonly %>
</p>

<p>
  <b>Isprivate:</b>
  <%=h @school.isprivate %>
</p>

<p><b>Members</b></p>
<ul>
<%= render :partial => "user", :collection => @school.users, :locals => { :school => @school } %>
</ul>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>