<%= hidden_field_tag 'lastHaiku'  %></p>
<p><label for="haiku_title">Title</label><br/>
<%= text_field 'haiku', 'title'  %></p>

<p><label for="text">Haiku Text</label><br/>
<%= text_area 'haiku', 'text', :cols=>40, :rows=>3  %>

