<!--[form:haiku]-->
<p><label for="haiku_title">Title</label><br/>
<%= text_field 'haiku', 'title'  %></p>

<p><label for="haiku_text">Haiku Text</label><br/>
<%= text_area 'haiku', 'haiku_text', :cols=>40, :rows=>3  %>
<!--[eoform:haiku]-->

