<div id="preview">
</div>

<%= hidden_field_tag "lastHaiku"  %>
<script type="text/javascript">
new PeriodicalExecuter(function() {
                $("commit").enabled = haikuMaster($F("lastHaiku"),
                        $F("haiku_text"), $("preview"));
                $("commit").enabled = false;
                $("lastHaiku").value = $F("haiku_text");
            }, 0.4);
</script>