<h1>Listing haikus</h1>

<% for haiku in @haikus %>
<div class="haikuSection">
  <%= render( :partial => "haiku", :object => haiku ) %>

  <%= render(:partial => "tag", 
             :collection => haiku.tags) %>
</div>
<% end %>

<br />