- title "Search haiku"
%h2 Search haiku
= search_form(:controller => 'haikus', :action => 'search')

- if @haikus
  = render_haikus(@haikus)
  = will_paginate @haikus, :id => 'pagination', :previous_label => '< Prev', :next_label => 'Next >', :page_links => false