.small.column
  = yield
.wide.column
  = render :partial => 'shared/create', :locals => {:conversation => @conversation}
%br
- if @conversation.haikus.any?
  .conversation-section
    %h2= "Haikus inspired by this inspiration"
    %br
    = render :partial => 'shared/haiku', :collection => @conversation.haikus