.column
  = yield
.column
  = render :partial => 'shared/create', :locals => {:conversation => @conversation}
%br
%h3="Haikus inspired by this inspiration"
.conversation
  = render :partial => 'shared/conversation', :object => @conversation.haikus