- title "Inspirations"

%h2 Inspirations

%h4
  Because sometimes writing poetry is easier if you have something to write about.

%div
  = link_to(image_tag("logos/flickr.png", :alt => "Flickr"), :action => 'flickr')
  %p
    Write haikus about interesting photos from Flickr. A new set of images are updated daily.

%h3
  Coming Soon
%div
  = link_to(image_tag("logos/imdb.gif", :alt => "IMDb"), :action => 'imdb')