<style>
#apply_group input {
  margin-right: 8px;
  padding: 1px;
}

<% render :layout => "groups/layout" do %>
  <h3>Would you like to apply for membership?</h3>
  <% form_tag({}, {:id => 'apply_group'}) do %>
    <%= submit_tag 'Apply' %>
    <%= link_to 'Cancel', group_url(current_group) %>
  <% end %>
<% end %>