#side.navigation
  - if current_author
    %li= link_to_controller 'Journal', 'journal'
  %li= link_to_controller 'Haikus', 'haikus'
  %li= link_to_controller 'Conversations', 'conversations'
  %li= link_to_controller 'Subjects', 'subjects'