= render(:partial => "shared/haiku", :object => @haiku)

%h3 Users who like this haiku:
- @users.each do |user|
%p= link_to h(user.username), { :controller => "users", :action => 'show', :id =>  user.username }
- end