<div class="membership">
  <%= render :partial => "authors/tiny", :object => application.author %>
  <%= link_to 'Accept',
    {:group_id => current_group, :action => 'accept', :id => application},
    {:method => :post} %>
  |
  <%= link_to 'Reject',
    {:group_id => current_group, :action => 'reject', :id => application},
    {:method => :delete} %>
</div>