<style>
.avatar {
  float: left;
  margin-right: 9px;
}
</style>

<% render :layout => "groups/layout" do %>
  <h3>Upload a group logo</h3>
  <% form_for :group, :url => {:action => 'update_logo'}, :html => { :multipart => true } do |form| %>
    <p>
      <%= form.file_field :logo %>
    </p>
    <p>
      <%= form.submit "Save" %>
    </p>
  <% end %>
<% end %>