- title "Haiku Conversations"
- description "Haiku Conversations"

.conversation-header
  %h2 Haiku Conversations
  .conversation-tip
    %strong Tip:
    Conversations are started when you write about an image or reply to a haiku.

- @conversation.each do |conversation|
  = render conversation

= paginate @conversations, id: 'pagination', previous_label: '< Newer', next_label: 'Older >', page_links: false