<% description "Find haiku authors on HaikuVillage" %>

<% title 'Authors' %>
<h2>Authors</h2>

<% sub_menu(:class => "tab_nav") do |m| %>
  <% m.link "Find authors", authors_path %>
  <% m.link "Invite by e-mail", invite_authors_path  %>
<% end %>

<div class="submenu-content">
  <%= yield %>
</div>