<style>
.author-index {
  margin-top: 10px;
}
</style>

<% sub_menu(:class => "tab_nav") do |m| %>
  <% m.link "Find authors", authors_url %>
  <% m.link "Invite by e-mail", invite_authors_url  %>
<% end %>

<div class="author-index">
  <%= yield %>
</div>