<style>
.author-content {
  overflow: hidden;
}
.author-content .avatar {
  float: left;
  width: 15%;
}

.author-content .haiku .avatar {
  display: none;
}

.author-main {
  float: right;
  width: 83%;
}
</style>

<%- title "#{@author.username}'s Journal" %>
<% description "Haikus by #{@author.username}" %>

<h2><%= "#{@author.username}'s Journal" %></h2>
<% sub_menu do |m| %>
  <% m.link "Haikus", author_url(:id => @author.username) %>
  <% m.link "Subjects", author_subjects_url(:author_id => @author.username)  %>
  <% m.link "Friends", author_friends_url(:author_id => @author.username)  %>
<% end %>

<div class="author-content">
  <div class="avatar">
    <%= image_tag @author.avatar.url(:large) %>
  </div>
  <div class="author-main">
    <%= yield %>
  </div>
</div>