<style>
.header {
  overflow: hidden;
}

.header .avatar,
.header .nav {
  float: left;
}

.header h2 {
  float: left;
  padding: 6px 0 0 10px;
}

.author-content {
  overflow: hidden;
}

.avatar {
  float: left;
}

.author-content .haiku .avatar_and_time {
  display: none;
}

.author-main {
  float: right;
  width: 83%;
}
</style>

<%- title "#{@author.username}'s Journal" %>
<% description "Haikus by #{@author.username}" %>

<div class="header">
  <div class="avatar">
    <%= image_tag @author.avatar.url(:large) %>
  </div>
  <div class="nav">
    <h2>
      <%= "#{@author.username}'s Journal" %>
    </h2>
    <% sub_menu(:class => "tab_nav") do |m| %>
      <% m.link "Haikus", author_url(:id => @author.username) %>
      <% m.link "Subjects", author_subjects_url(:author_id => @author.username)  %>
      <% m.link "Friends", author_friends_url(:author_id => @author.username)  %>
    <% end %>
  </div>
</div>

<div class="author-content">
  <div class="author-main">
    <%= yield %>
  </div>
</div>