- form_tag authors_url, :method => :get, :id => 'search_form' do
  = text_field_with_auto_complete :author, :username, {:name => 'q', :value => params[:q], :size => 10}, {:url => suggest_authors_path, :method => :get, :param_name => 'q'}
  = submit_tag 'Search', :name => nil