<style>
.header {
  overflow: hidden;
}

.header .avatar {
  float: left;
  width: 64px;
}

.header .nav {
  float: left;
  padding: 6px 0 0 10px;
  width: 600px;
}

.header .title {
  margin-bottom: 12px;
  overflow: hidden;
  padding: 0;
}

.header .title h2 {
  margin: 0 0 8px 0;
  padding: 0;
}

.author-content {
  margin-left: 74px;
  overflow: hidden;
}

.author-content .haiku .avatar_and_time {
  display: none;
}
</style>

<%- rss @author.username	%>
<%- title "#{@author.username}'s Journal" %>
<% description "Haikus by #{@author.username}" %>

<div class="header">
  <div class="avatar">
    <%= image_tag @author.avatar.url(:large) %>
  </div>
  <div class="nav">
    <div class="title">
      <h2>
        <%= "#{@author.username}'s Journal" %>
      </h2>
      <%= update_friendship(@author) %>
    </div>
    <% sub_menu(:class => "tab_nav") do |m| %>
      <% m.link "Haikus", author_url(:id => @author.username) %>
      <% m.link "Subjects", author_subjects_url(:author_id => @author.username)  %>
      <% m.link "Friends", author_friends_url(:author_id => @author.username)  %>
    <% end %>
  </div>
</div>

<div class="author-content">
  <%= yield %>
</div>