<%- rss_discovery @author.username, author_path(@author.username) %>
<%- title "#{@author.username}'s Journal" %>
<% description "Haikus by #{@author.username}" %>

<div class="author-header">
  <div class="avatar">
    <%= image_tag @author.avatar.url(:large) %>
  </div>
  <div class="nav">
    <div class="title">
      <h2>
        <%= "#{@author.username}'s Journal" %>
      </h2>
      <%= update_friendship(@author) %>
    </div>
    <% sub_menu(:class => "tab_nav") do |m| %>
      <% m.link "Haikus", author_path(:id => @author.username) %>
      <% m.link "Subjects", author_subjects_path(:author_id => @author.username)  %>
      <% m.link "Friends", friends_author_path(@author.username)  %>
    <% end %>
  </div>
</div>

<div class="author-content">
  <%= yield %>
</div>