<% render :layout => 'friends/layout' do %>
  <% if current_author %>
    <% form_tag(invite_authors_path, {:method => :post}) do %>
      <h3>Email address(es)</h3>
      <p><%= text_area_tag "email" %></p>
      <%= submit_tag "Send" %>
    <% end %>
  <% else %>
    <h2>You must be sign in to invite authors</h2>
  <% end %>
<% end %>