<% render :layout => 'index_layout' do %>
  <% if current_author %>
    <% form_tag(invite_authors_path, {:method => :post}) do %>
      <%= text_area_tag "email" %>
      <%= submit_tag "Send" %>
    <% end %>
  <% else %>
    <h2>You must be sign in to invite authors</h2>
  <% end %>
<% end %>