<% render :layout => 'show_layout' do %>
	<%= render_haikus(@haikus) %>
				
	<br />
	<%= will_paginate @haikus, :id => 'pagination', :previous_label => '< Newer', :next_label => 'Older >', :page_links => true %>
	<p id="bottom-links">
	  <%= link_to "download as text", :action => "show", :format => "txt" %>
  </p>
<% end %>