#preview {
	font-size: 14pt;
	height: 100px;
	width: 400px;
}

#preview .syllables {
	font-size: 16pt;
	width: 100px;
}

.valid {
	color: green;
}

.invalid {
	color: red;
}

.haiku-title {
    color: green;
    font-size: 14pt;
}

.haiku-info {
    color: gray;
    font-size: 8pt;
}