body {
	color: black;
	font: 12pt tahoma;
	margin: 0;
	padding: 0;
}

sup {
	font-size: 10pt;
}

textarea {
	color: gray;
	font: 10pt tahoma;
}

#preview {
	font-size: 14pt;
	height: 100px;
	width: 400px;
}

#preview .syllables {
	font-size: 16pt;
	width: 100px;
}

.valid {
	color: green;
}

.invalid {
	color: red;
}

#footer {
	position: absolute;
	bottom: 0;
	background-color: #ccffcc;
	width: 100%; /* See note below */
	padding: 0 0%;
}
/* SBMH -- see http://css-discuss.incutio.com/?page=BoxModelHack 
 * Stupid hack lets IE see 100%, others see 70%. 
 */
#footer {
    \width: 100%;
    w\idth: 100%;
}

#left-footer {
    float: left;
    text-align: left;
    width: 49%;
}

#right-footer {
    float: right;
    text-align: right;
    width: 49%;
}