.icon {
  background: transparent url(/images/icons.png) no-repeat scroll 0 0;
  padding: 2px 0 0 20px; }
  .icon.mail {
    background-position: 0 0; }
  .icon.not-favorite {
    background-position: 0 -20px; }
  .icon.favorite {
    background-position: 0 -40px; }
  .icon.reply {
    background-position: 0 -60px; }
  .icon.trash {
    background-position: 0 -80px; }
