body {
    color: black;
    font: 12pt tahoma;
    margin: 0;
    padding: 0;
}

sup {
    font-size: 10pt;
}

textarea {
    color: gray;
    font: 10pt tahoma;
}

#main-title {
    position: absolute;
    top: 0;
    background-color: #ccffcc;
    width: 100%; /* See note below */
    padding: 0 0%;
}

#main-title-left {
    float: left;
    text-align: left;
    width: 49%;
}

#main-title-right {
    float: right;
    text-align: right;
    width: 49%;
}