body {
    color: black;
    font: 12pt tahoma;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 1000px;
}

sup {
    font-size: 10pt;
}

textarea {
    color: gray;
    font: 10pt tahoma;
}

#header {
    width: 100%;
    padding: 0 0%;
    position: absolute;
}

#main-div {
    position: absolute;
    top: 100px;
}