body {
    color: black;
    font: 12pt tahoma;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
}

sup {
    font-size: 10pt;
}

textarea {
    color: gray;
    font: 10pt tahoma;
}

#main-title {
    width: 100%;
    padding: 0 0%;
}

#main-title-left {
    background-color: #ccffcc;
    float: left;
    text-align: left;
    width: 50%;
}

#main-title-right {
    background-color: #ccffcc;
    float: right;
    text-align: right;
    width: 50%;
}

#main-div {

}