<%- rss_discovery "#{@author.username}'s haiku", author_path(@author.username) %>
<%- title "#{@author.username}'s Journal" %>
<% description "Haiku by #{@author.username}" %>

<div class="author-header">
  <div class="avatar">
    <%= image_tag large_avatar_url(@author) %>
  </div>
  <div class="nav">
    <h2><%= "#{@author.username}'s Journal" %></h2>
    <% sub_menu(:class => "tab_nav") do |m| %>
      <% m.link "Haiku", author_path(:id => @author.username) %>
      <% m.link "Subjects", author_subjects_path(:author_id => @author.username)  %>
      <% m.link "Friends", friends_author_path(@author.username)  %>
      <li><%= update_friendship(@author) %></li>
    <% end %>
  </div>
</div>

<div class="submenu-content author-content">
  <%= yield %>
</div>