<%= render :layout => 'show_layout' do %>
	<%= render @haikus %>
				
	<br />
	<%= paginate @haikus, id: 'pagination' %>
	<p id="bottom-links">
	  <%= link_to "download as text", :action => "show", :format => "txt" %>
  </p>
<% end %>