- rss "Everyone's haikus"

- title "Everyone's haikus"

= render_haikus(@haikus)

= will_paginate @haikus, :id => 'pagination', :previous_label => '< Newer', :next_label => 'Older >', :page_links => false