- rss "Everyone's haikus", haikus_url

- title "Everyone's haikus"
%h2 Everyone's haikus

= render_haikus(@haikus)

= will_paginate @haikus, :id => 'pagination', :previous_label => '< Newer', :next_label => 'Older >', :page_links => false