<% form_for :search, :html => {:id => 'search_form'} do |form| %>
 <%= form.text_field :text %>
 <%= submit_tag("Search", :id => "search") %>
<% end %>

<%= render(:partial => "shared/haiku_list") %>