%form{:action => :search, :method => "get"}
  =text_field_tag("q", params[:q], :id => "q", :size => 30)
  %input{:type => "submit", :value => "Search"}
  
  %script document.getElementById('q').focus();

= render(:partial => "shared/haikus")