*
  :outline 0
  
html
  :background-color transparent
  :height 100%

body 
  :background
    :color #E5ECF3
    :image url(/images/beta-banner.png)
    :repeat no-repeat
  :color black
  :font 12pt Trebuchet, sans-serif
  :height 100%
  :margin 0
  :padding 0
  :text-align left

a
  :color #355CA6
  :cursor pointer
  :text-decoration none
  &:hover
    :color black

br
  :clear both

form
  h3
    :margin-top 10px
    :padding 4px 0
    :color #a20000
  textarea 
    :overflow auto
    :padding 3px 1px
  input[type="text"], input[type="password"]
    :padding 3px 1px 2px
  input[type="submit"]
    :margin-top 10px

h2
  :color #444444
  :font-size 125%
  :padding 0 0 1em

h3
  :color #647A4A
  :font-size 110%
  :padding 0 0 6px 0

h4
  :color #222222
  :font-size 100%
  :padding 10px 0

h5
  :padding 0 10px 10px 10px
  :font-size 90%

strong
  :font-weight bold

p
  :font-size 85%
  :padding .3em 0
  :text-decoration dotted

input[type='text'], input[type='password'], textarea
  :border 1px solid #999

.formError
  :font-size 85%
  :font-weight bold

.fieldWithErrors input
  :border 1px dotted red
  
.href_list
  :padding-right 5px
  a
    :font-size 90%

.cloud
  :clear both
  :width 100%
  :padding-top 30px
  h2
    :padding 15px 0 15px 0
  a
    :color #a20000
    :padding-right 15px
    :text-decoration none
    &:hover
      :text-decoration underline
      
.pagination
  :background white
  a, span
    :padding .2em .5em
    :display block
    :float left
    :margin-right 1px
  span.disabled
    :color #999
    :border 1px solid #DDD
  span.current
    :font-weight bold
    :background #2E6AB1
    :color white
    :border 1px solid #2E6AB1
  a
    :text-decoration none
    :color #105CB6
    :border 1px solid #9AAFE5
    &:hover, &:focus
      :color #003
      :border-color #003
  .page_info
    :background #2E6AB1
    :color white
    :padding .4em .6em
    :width 22em
    :margin-bottom .3em
    :text-align center
    b
      :color #003
      :background = #2E6AB1 + 60
      :padding .1em .25em
  .prev_page
    :margin-left 1em

  /* self-clearing method:
  &:after
    :content "."
    :display block
    :height 0
    :clear both
    :visibility hidden
  * html &
    :height 1%
  *:first-child+html &
    :overflow hidden