!red= #a20000
!green= #647a4a
!darkgrey= #555555
!lightgrey= #999999

#preview
  :background-color white
  :margin-bottom 1em
  :opacity 0.7
  :font-size 12pt
  :height 100px
  :color= !darkgrey
  *
    :opacity 1
  sup
    :font-size 8pt
    :color black
  .syllables 
    :float left
    :margin-right 6px
    :width 2em
    :text-align right
  .valid-line 
    :color= !green
  .invalid-line 
    :color= !red
  &.empty
    :background-image url(/images/haiku-bg.png)
    :background-repeat no-repeat
    :background-position -25px -0px

#haiku_form
  input[type='text']
    :margin-bottom 6px
    :width 80%
  textarea
    :width 80%

h2.listing_title
  :display inline
  :padding-right 15px
  
ul.sort_options
  :display inline
  li
    :color #C71217
    :display inline
    :font-size 90%
    :margin-right 7px

.haiku
  &.new
    :border 1px solid green
  :float left
  :min-width 50%
  :margin-bottom 20px
  a.text
    :color black
    :display block
    :float left
    :font-size 10pt
    :margin 0
    :padding 10px 0
    :text-decoration none
    &:hover
      :color= !lightgrey
    .haiku-line
      :clear left
      :float left
      :background-color white
      :padding 2px 2px 0 2px
  .haiku_detail
    :clear left
    :color gray
    :float left
    :font-size 9pt
    :padding 2px 2px 0 2px
    :white-space nowrap
    :background-color white
      
.center
  :display table
  :margin 0 auto 2em auto
  :position relative
  :text-align center
  
.haiku-big
  .haiku
    :float none
    :text-align left
    :zoom 1
    :display inline
    .haiku-line
      :font-size 20px