#preview 
  :font-size 12pt
  :height 100px
  :width 320px 
  sup
    :font-size 8pt
  
  .syllables 
    :font-size 16pt
    :width 100px
    
  .valid-line 
    :color green

  .invalid-line 
    :color red

form#haiku_login
  :font-size 10px
  :margin-top 10px
  input
    :width 80px
  .haiku_login_input_box
    :float left
    :height 36px
    :margin-right 10px
    :position relative
    label, #haiku_login_message
      :display block
      :height 16px
    input[type='text'], input[type='password']
      :height 16px
      :padding-top 2px
    input[type='submit']
      :bottom 0
      :font-size 12px
      :position absolute

a.haiku
  :background-color #eeeeee
  
.haiku-line-big
  :font-size 24px

.haiku
  &.new
    :border 1px solid green
  :padding 10px 0 10px 15px
  :height 90px
  .haiku-line
    :font-size 10pt
  .haiku_details
    :margin-top 10px
    .favorite_count
      :font-size 9pt
      :color grey
  .author
    :color black
    :font
      :family Lucida Grande, sans-serif
      :size 12px
  .text
    :width 17em
    &:hover
      :background-color #efefef
    a
      :color black