#haiku_form_internals
  :float left
  :margin-right 20px
#get_inspired
  :border 1px dotted #ccc
  :float right
  :margin-top 10px
  :padding 10px
  :width 35%
  label
    :margin-right 16px
  a
    :margin-left 6px
  img
    :padding-top 6px