!red= #a20000
!green= #647a4a
!darkgrey= #555555
!lightgrey= #999999
!medblue= #548A98
!brown= #847640

#notice
  :background-color white
  :border 1px solid gray
  :color orange
  :margin-bottom 15px
  :padding 5px
  :text-align center

#body
  :background-color white
  :-moz-border-radius 6px
  :-webkit-border-radius 6px
  :margin 10px auto
  :overflow hidden
  :padding 15px 0 0 28px
  :width 900px

#header
  :border-bottom 1px dotted #ccc
  :padding-bottom 8px
  .right
    :float right
    :text-align right
    :width 47%
    ul
      :overflow hidden
    li
      :float right
      :padding-left 20px
    form
      :float right
      :font-size 11px
      :margin-top 7px
      input
        :color #666

#logo-link
  :float left
  
#content
  :float left
  :overflow hidden
  :padding 10px 10px 20px 10px
  :text-align left
  :width 720px
  .column
    :float left
    :width 49%
  .wide
    :width 54%
  .small
    :width 44%

#side
  :border-left 1px dotted #ccc
  :float left
  :font-weight bold
  :width 126px
  li
    :margin 9px 0 0 12px

#footer
  :font-size 10px
  :padding-bottom 10px
  :text-align center