!red= #a20000
!green= #647a4a
!darkgrey= #555555
!lightgrey= #999999
!medblue= #548A98
!brown= #847640

*
  :outline 0
  
html
  :background-color transparent
  :height 100%

body 
  :background
    :color #a1c873
  :color black
  :font 12pt Trebuchet, sans-serif
  :height 100%
  :margin 0
  :padding 0
  :text-align left

a
  :color #355CA6
  :cursor pointer
  :text-decoration none
  &:hover
    :text-decoration underline

br
  :clear both

form
  h3
    :margin-top 10px
    :padding 4px 0
    :color= !red
  textarea 
    :color gray
    :font 10pt tahoma
    :overflow auto
  input[type="text"], input[type="password"]
    :color gray
    :font 10pt tahoma

h2
  :color #444444
  :font-size 125%
  :padding 0 0 1em

h3
  :color #111111
  :font-size 110%
  :padding 0

h4
  :color #222222
  :font-size 100%
  :padding 10px 0

h5
  :padding 0 10px 10px 10px
  :font-size 90%

strong
  :font-weight bold

p
  :font-size 85%
  :text-decoration dotted

input[type='text'], input[type='password'], textarea
  :border 1px solid #999

sup 
  :font-size 10pt

.formError
  / :color red
  :font-size 85%
  :font-weight bold

.fieldWithErrors input
  :border 1px dotted red

#notice
  :background-color white
  :border 1px solid gray
  :color orange
  :margin-bottom 15px
  :padding 5px
  :text-align center
  
#intro
  :margin-bottom 2em
  :width 280px
  p
    :color= !medblue
    :margin-bottom 1em
    :font-size 105%

#main, #content
  :min-height 450px

#content, #navigation
  :padding
    :right 30px

#content
  :background
    :image url(/images/scenery-top.png)
    :repeat no-repeat
  :border 1px solid #888888
  :padding 
    :top 10px
    :bottom 90px
    :left 15px
    :right 15px
  :text-align left
  .column
    :float left
    :width 49%
  .wide
    :width 54%
  .small
    :width 44%

#right-header
  :color #647a4a
  :background-color white

#foot 
  :background-image url(/images/paperEdge-bottom.png)
  :backround-repeat no-repeat
  :height 14px

#top
  :background
    :image url(/images/bg-page-top.png)
    :repeat no-repeat
    :position bottom left
  :margin 0 auto
  :width 726px
  :height 23px

#body
  :background
    :image url(/images/bg-page-body.png)
    :repeat repeat-y
  :padding 0 0 0 28px
  :margin 0 auto
  :width 700px

#main
  :background
    :image url(/images/scenery-bottom.png)
    :repeat no-repeat
    :position bottom
    :color white
  :width 666px

#bottom
  :background
    :image url(/images/bg-page-bottom.png)
    :repeat no-repeat
    :position top left
  :margin 0 auto
  :width 726px
  :height 29px

a.see_more_link
  :clear both
  :display block

h2#write
  :color= !green
  :padding 0

#haiku-summary
  :margin-top 10px
  :margin-bottom 30px
  
#create-submit
  :text-align left
  input[type='submit']
    :margin-top 6px
  
#haiku-summary
  a
    :color= !medblue
    :text-decoration underline
  .count_value
    :color= !brown
    :background-color white
  .count_text
    :color= !green
    :text-decoration none
    :background-color white
      
.subject_cloud
  :width 100%
  h2
    :padding 15px 0 15px 0
  a
    :color= !brown
    :padding-right 10px
    :text-decoration none
    :white-space nowrap
    &:hover
      :text-decoration underline