!red= #a20000
!green= #647a4a
!darkgrey= #555555
!lightgrey= #999999

*
  :outline 0
  
html
  :background-color transparent
  :height 100%

body 
  :background
    :color #a1c873
  :color black
  :font 12pt Trebuchet, sans-serif
  :height 100%
  :margin 0
  :padding 0
  :text-align left

a
  :color #355CA6
  :cursor pointer
  :text-decoration none
  &:hover
    :text-decoration underline

br
  :clear both

h2
  :color #444444
  :font-size 125%
  :padding 0 10px 1em

h3
  :color #111111
  :font-size 110%
  :padding 0

h4
  :color #222222
  :font-size 100%
  :padding 10px

h5
  :padding 0 10px 10px 10px
  :font-size 90%

strong
  :font-weight bold

p
  :font-size 85%

input[type='text'], input[type='password'], textarea
  :border 1px solid #999

sup 
  :font-size 10pt

#notice
  :border 1px solid gray
  :color orange
  :padding 5px

#main, #content
  :min-height 450px

#content, #navigation
  :padding
    :right 30px

#content
  :background
    :image url(/images/scenery-top.png)
    :repeat no-repeat
  :border 1px solid #888888
  :padding 
    :top 10px
    :bottom 40px
    :left 10px
    :right 10px
  :text-align left
  .column
    :float left
    :width 49%
    .wide
      :width 54%
    .small
      :width 44%

#right-header
  :color #647a4a
  :background-color white

#foot 
  :background-image url(/images/paperEdge-bottom.png)
  :backround-repeat no-repeat
  :height 14px

#top
  :background
    :image url(/images/bg-page-top.png)
    :repeat no-repeat
    :position bottom left
  :margin 0 auto
  :width 726px
  :height 23px

#body
  :background
    :image url(/images/bg-page-body.png)
    :repeat repeat-y
  :padding 0 0 0 28px
  :margin 0 auto
  :width 700px

#main
  :background
    :image url(/images/scenery-bottom.png)
    :repeat no-repeat
    :position bottom
    :color white
  :width 666px

#bottom
  :background
    :image url(/images/bg-page-bottom.png)
    :repeat no-repeat
    :position top left
  :margin 0 auto
  :width 726px
  :height 29px
  
#intro
  :width 280px
  :font-size 80%
  :margin-bottom 20px
  :color= !darkgrey

.haiku_listing
  h2
    :display inline
  ul.sort_options
    :display inline
    li
      :display inline
      :font-size 90%
      :margin-right 7px

.subject_list
  li
    :clear left
  a
    :float left
    :width 150px
  .subject_metric
    :color #555555
    :font-size 85%
    :width 100px