#menu
  :float left

ul#top-menu
  li
    :font-size 16px
    :list-style-type none
    :margin 0px
    :padding 0px
    :float left
    :padding-right 20px
    
    .selected
      :color lightgreen

#sub-menu
  :font-size 14px
  
  a:hover
    :text-decoration underline
    

.pagination 
  .currentpage
    :color red
  ul
    :clear both
    :font-size 12px
    :list-style-type none
     
    li
      :display inline
      :padding-right 15px