<%- title 'Haiku Journal' %>

<div class="author-header">
  <div class="avatar">
    <%= image_tag current_author.avatar.url(:large) %>
  </div>
  <div class="nav">
    <div class="title">
      <h2><%= journal_title %></h2>
    </div>
  </div>
</div>

<div class="submenu-content">
  <%= yield %>
</div>