<% sub_menu(:class => "tab_nav") do |m| %>
  <% m.link "Create", :action => 'index' %>
  <% m.link "Your Favorites", :action => 'favorites' %>
  <% m.link "Friends", :action => 'friends' %>
<% end %>

<div class="submenu-content">
  <%= yield %>
</div>