<% title 'Haiku Journal' %>

<% render :layout => 'layout' do %>
  <div style="margin-left: 30px">
    <%= render_haikus(@haikus) %>
  </div>
  <br />
  <%= will_paginate @haikus, :id => 'pagination', :previous_label => '< Newer', :next_label => 'Older >' %>
<% end %>