- floating = 'right'
- previous = Haiku.new
- conversation.each do |haiku|
  - if haiku.author != previous.author
    - floating = floating == 'left' ? 'right' : 'left'

  - div_for haiku, :class => floating do
    - if haiku.author != previous.author
      %h4= link_to_author haiku.author
    - link_to haiku, :class => 'text', :id => dom_id(haiku) do
      - haiku.text.each_line do |line|
        .haiku-line= h(line)
    - if current_author
      .haiku_detail
        = favorite_span(haiku)
        - if haiku.author == current_author
          - link_to haiku, :method => :delete do
            = image_tag("icons/trash.png", :alt => "Delete")

  - previous = haiku