<% if @haikus %>
  <% if @haikus.empty? %>
    No results
  <% else %>  
    <%= render(:partial => "shared/paginate", :locals => {:collection => @haikus }) -%>
    <%= render(:partial => "shared/haiku_summary", :collection => @haikus, :spacer_template => "shared/haiku_divider") %>
    <%= render(:partial => "shared/paginate", :locals => {:collection => @haikus }) -%>
  <% end %>
<% end %>