.haiku[haiku]
  .text
    - for line in haiku.text.split("\n")
    .haiku-line= h(line)
    - end
  - if current_user != haiku.user
  .author= link_to h(haiku.user.username), { :controller => "users", :action => 'show', :id => haiku.user.username }
  - end
  - if current_user
  = favorite_div(haiku)
  - end