.haiku[haiku]
  .text
    - for line in haiku.text.split("\n")
    .haiku-line= h(line)
    - end
  - if current_user != haiku.user
  .author= link_to h(haiku.user.username), { :controller => "users", :action => 'show', :id => haiku.user.username }
  - end
  - if current_user 
  - unless current_user.favorites.include?(haiku)
  %span.add_to_favorites
    = add_favorite_link(haiku)
  - else
  %span.add_to_favorites
    = remove_favorite_link(haiku)
  - end
  - end