- if @haikus
- if @haikus.empty?
No results
- else
= render(:partial => "shared/paginate", :locals => {:collection => @haikus })
= render(:partial => "shared/haiku", :collection => @haikus, :spacer_template => "shared/haiku_divider")
= render(:partial => "shared/paginate", :locals => {:collection => @haikus })
%br
- end
- end