<div class="subjects-header">
  <h2>
    <%= link_to 'Subjects', subjects_path %>
    / Search
  </h2>
  <%= render 'search_form' %>
</div>

<% if @subjects.empty? %>
  No subjects matched your search.
<% else %>
  <ul>
    <% @subjects.each do |subject| %>
      <li><%= link_to_subject subject %></li>
    <% end %>
  </ul>
<% end %>