<% title "Your haiku about #{params[:id]}" %>
<h2>Your haikus about <%= h params[:id] %></h2>

<div style="margin-left: 30px">
  <%= render @haikus %>
</div>
<br />
<%= paginate @haikus, :id => 'pagination', :previous_label => '< Newer', :next_label => 'Older >' %>