<%= render layout: 'layout' do %>
  <% if @subject_summaries.any? %>
    <ul class="subject-list">
      <% @subject_summaries.each do |subject, haiku_count| %>
      <li>
        <%= link_to subject.name, subject %>
        <%= " (#{haiku_count})" %>
      </li>
      <% end %>
    </ul>
  <% else %>
    <div class="empty_list">
      You have not written about any subjects.
    </div>
  <% end %>
<% end %>