#preview {
	font-size: 14pt;
	height: 100px;
	width: 400px;
}

#preview .syllables {
	font-size: 16pt;
	width: 100px;
}

.valid-line {
	color: green;
}

.invalid-line {
	color: red;
}

.valid-haiku {
    color: blue;
}

.haiku {
}

.haiku .author {
    color: black;
    font: 10pt Verdana;
    padding-top: 10px;
    text-transform: uppercase;
}