#frame {
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

#preview {
	font-size: 14pt;
	height: 100px;
	width: 320px;
}

#preview .syllables {
	font-size: 16pt;
	width: 100px;
}

#haiku_box {
    overflow: hidden;
    width: 300px;
}

#haiku_hidden {
    width: 900px;
    margin-left: -300px;
}

textarea {
	font-size: 18pt;
}

.haiku_fragment {
    float: left;
    width: 300px;
}

.valid-line {
	color: green;
}

.invalid-line {
	color: red;
}

.valid-haiku {
    color: blue;
}

.haiku .haiku-line {
    font: 10pt Palatino Linotype;
}

.haiku .author {
    color: black;
    font: 10pt Verdana;
    padding-top: 10px;
    text-transform: uppercase;
}

.other {
    float: right;
}