#login {
    width: 300px;
}

#register {
    width: 450px;
}

form label{
    display:block;
    height:2em;
    padding:10px 10px 0;
}

form label input {
    margin-right:20px;
    float:right;
    clear:right;
}