body {
    background: #b2b2b2;
    color: #636466;
    font: 12pt tahoma;
    margin: 0;
    padding: 0;
}

a:active, a:hover, a:link, a:visited {
    color: #636466;
    text-decoration: none;
}


sup {
    font-size: 10pt;
}

textarea {
    color: gray;
    font: 10pt tahoma;
}

#login {
    color: blue;
    float: right;
    text-align: right;
}

#navigation {
    height: 50px;
    width: 100%;
    padding: 0 0%;
}

#frame {
    background: white;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}