body {
    background-color: #90ce45;
    background-image: url(/images/bg-page.png);
    color: black;
    font: 12pt tahoma;
    margin: 0;
    padding: 0;
}

a:active, a:hover, a:link, a:visited {
    color: #636466;
    text-decoration: none;
}

h2 {
	color: black;
	text-transform: uppercase;
}

sup {
    font-size: 10pt;
}

textarea {
    color: gray;
    font: 10pt tahoma;
}

#user-corner {
    float: right;
    text-align: right;
    color: lightgrey;
}

#navigation {
    padding-top: 1em;
    height: 50px;
    background-image: url(/images/bg-head.png);
    background-repeat: repeat-y;
}

#navigation a {
    color: lightgrey;
}

#frame {
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    width: 740px;
}

#content, #navigation {
    padding-left: 30px;
    padding-right: 30px;
}

#content {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: url(/images/bg-body.png);
    background-repeat: repeat-y;
}

#cleartag {
    clear: both;
}

#foot {
    background-image: url(/images/bg-bottom.png);
    height: 30px;
}

#leftside {
	float: left;
	width: 70%;
	text-align: left;
}

#rightside {
    float: right;
    width: 30%;
}