div#menu {
    float: left;
}

ul#top-menu, ul#top-menu li {
    font-size: 16px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul#menu li .selected {
    background-color: #bebebe;
}

ul#top-menu li {
    float: left;
    margin: 0;
    padding: 0;
    padding-right: 20px;
}

#sub-menu {
    font-size: 14px;
}

#sub-menu a:hover {
  text-decoration: underline;
}

.pagination ul {
    font-size: 12px;
    list-style-type: none;
}