#messages.index {
  .messages {
    margin-left: 30px;
  }

  .message {
    margin: 4px 4px 4px 4px;
    overflow: hidden;
    padding: 10px 6px;

    & + .message {
      border-top: 1px solid #CCCCCC;
    }

    .avatar {
      float: left;
      width: 46px;
    }

    .author_and_time {
      float: left;
      margin-top: 3px;
      width: 140px;
      .author {
        margin-bottom: 2px;
        a {
          font-weight: bold;
        }
      }
      .time {
        color: #999;
      }
    }
    .text {
      float: left;
      line-height: 120%;
    }
    .actions {
      float: right;
    }
  }
}