- content_for(:head) do
  = javascript_include_tag "haiku"

%h1 New haiku

= error_messages_for 'haiku'

%p Here is my haiku:
#preview

%script
  new Haiku.PeriodicalUpdater("haiku_text", "preview");

- form_for :haiku, :html => {:id => 'haiku_form'} do |form|
  %p
    = text_area 'haiku', 'text', :cols => 20, :rows => 3
  %br
  = submit_tag("Create new haiku", :id => "commit")


%script
  $('haiku_text').focus();