<div id="intro">
  HaikuVillage is an online community of authors anyone can join.
  Please take a moment to <%= link_to "register", register_url %> with us, and enjoy our syllable counting technologies.
</div>