#intro
  Welcome
  = "#{current_author.username}."
  You can go to your
  = link_to 'journal', :controller => 'journal'
  to create and view your haikus, or browse other
  = link_to 'haikus.', :controller => 'haikus'