<div id="intro">
  <p>
  HaikuVillage automatically counts your syllables.
  </p>
  <p>
    Welcome to the world's only online community of haiku authors where
    counting syllables is done for you. 
  </p>
</div>