<!-- <h2>About Haiku Village</h2> -->
<% content_for :title, "About HaikuVillage" %>
<style type="text/css">
  div.about-top p { padding: 0 35px 12px 35px; }
</style>
<div class="about-top">
  <h4>Moving Haikus to the Digital World</h4>
  <p>
    For thousands of years, poets have slaved over Haikus: counting syllables, crafting clever phrases, and passing them along
    through public oration or calligraphy.
  </p>

  <p>
    The poets always knew that something better existed...
    if only their syllables could be counted;
    if only a haiku could spread the globe in seconds.
  </p>

  <p>
    HaikuVillage is the solution.
  </p>

  <h4>How to Create a Haiku</h4>
  <p>
    HaikuVillage is an application built on <%= link_to 'Twitter', 'http://twitter.com/' %>.
    You use your Twitter account to create haiku.
    Only three line Haikus are allowed, composed of five syllables, seven syllables, and five syllables, respectively.
  </p>
</div>

<div class="about-bottom">
  <h4>Haiku Technologists</h4>

  <div style="float: left; width: 49%;">
    <div style="text-align: center"><img alt="Mike Spiz" src="/images/mike.jpg" />
      <h5>Mike Spiz</h5>
    </div>
    <div class="center">
      <div style="text-align: left; zoom: 1; display: inline">
        <p><strong>Job Title:</strong> Haiku Presentation Consultant</p>
        <p><strong>Skills:</strong> Organizing and displaying haikus</p>
      </div>
    </div>
  </div>

  <div style="float: right; width: 49%;">
    <div style="text-align:center">
      <img alt="Matthew Higgins" src="/images/matt.jpg" />
      <h5>Matthew Higgins</h5>
    </div>
    <div class="center">
      <div style="text-align: left; zoom: 1; display: inline">
        <p><strong>Job Title:</strong> Chief Syllable Architect</p>
        <p><strong>Skills:</strong> Syllable counting and haiku validation</p>
      </div>
    </div>
  </div>
</div>
<br />