<h2>About Haiku Village</h2>

<h4>Moving Haikus to the Digital World</h4>
<p>
  For thousands of years, authors and poets have slaved over Haikus: manufacturing papyrus, counting syllables, preserving their works through public oration.
  
  This tedious process 
  
  We bring haikus into the digital world, forever engraving your in
  
  Everyone has written a Haiku
</p>

<h4>How to Create a Haiku</h4>
<p>
  HaikuVillage is an application built on <%= link_to 'Twitter', 'http://twitter.com/' %>.
  You need a Twitter account to create Haiku on HaikuVillage.
</p>

<h4>Form and Content</h4>
<p>
  HaikuVillage allows only three line haikus, composed of five syllables, seven syllables, and five syllables, respectively.
  This type of haiku often referred to as <%= link_to 'Senryū', 'http://en.wikipedia.org/wiki/Senry%C5%AB' %>.
</p>

<h3>Mike Spiz</h3>
<p>
  Mike Spiz specializes in the presentation of Haiku.
</p>

<h3>Matthew Higgins</h3>
<p>
</p>