<?xml version="1.0" encoding="UTF-8"?>
<Module>
<ModulePrefs title="HaikuVillage Random Haiku" />
<Content type="html"><![CDATA[
<style>
  body {
    border: 1px solid #A1C873;
    margin: 4px;
  }

  p {
    margin: 0;
    padding: 7px 0 0 8px;
  }

  a {
    color: #355CA6;
  }

  a.site-link {
    float: right;
    font-size: 85%;
    padding: 4px;
  }
 
  div.haiku {
    margin-top: 20px;
  }

  div.foot {
    color: gray;
    margin: 0;
    padding: 10px 0 0 8px;
  }
</style>

<a class="site-link" href="http://www.haikuvillage.com">HaikuVillage.com</a>

<div class="haiku">
<% @random_haiku.text.each_line do |line| %>
  <p><%= h(line) %></p>
<% end %>
</div>

<div class="foot">
  See more haikus by
  <%= link_to @random_haiku.author.username,
      :controller => 'authors',
      :action => 'show',
      :id => @random_haiku.author.username,
      :only_path => false %>
</div>
]]>
</Content>
</Module>

