- rss_discovery "Everyone's haiku", haikus_path
- title 'Welcome to HaikuVillage', false
- description "HaikuVillage is a place to create and share haiku."
.welcome
  .column.small
    %h1
      A place to create and share haiku.
    %p
      Create your first haiku in the field to the right.
  .column.wide
    = render_create

%br

%h2{:style => "margin-top: 12px; padding-top: 12px; border-top: 1px dotted #ccc"}="Recent haiku"
= render_haikus(@haikus)

= render "summary"