- title 'Welcome to HaikuVillage', false
- description "Haiku Village is a place to create, share and discover haikus."
.welcome
  .column.small
    %p
      Haiku Village is a place to create, share and discover haikus.
      To join the village, type your first haiku in the field to the right.
  .column.wide
    = render_create

%br

%h2{:style => "margin-top: 12px; padding-top: 12px; border-top: 1px dotted #ccc"}="Recent haikus"
= render_haikus(@haikus)

= render :partial => "summary"