<h1>Users</h1>
<ul>
  <% for user in @all_users %>
    <li>
        <%= link_to "[X]", { :action => 'delete_user',
                             :id => user},
                           { # html options
                             :method  => :post,
                             :confirm => "Really delete #{user.username}?"
                           } %>
        <%= h(user.username) %> <i>(<%= user.useralias %>)</i>
    </li>
  <% end %>
</ul>