<%= render layout: 'layout' do %>
  <div class="gravatar">
    <%= large_avatar_image(current_author) %>
    <div class="change-avatar">
      Change your avatar at <%= link_to "gravatar.com", "http://gravatar.com" %>
    </div>
    <div class="avatar-note">We're using <%= current_author.email %></div>
  </div>
<% end %>