<% title "About" %>
<style>
div.about-top p {
  padding: 0 35px 12px 35px;
}

h2 {
  padding-bottom: 12px;
}

h3 {
  padding: 10px 0 10px 0;
}

h5 {
  padding: 0 10px 10px 10px;
}
</style>

<div class="about-top">
  <h2>About Haiku Village</h2>
  
  <h3>A New Haiku Medium</h3>
  <p>
    For thousands of years, poets have slaved over Haiku: counting syllables, crafting clever phrases, and passing them along
    through public oration or calligraphy.
  </p>

  <p>
    The poets always knew that something better existed...
    if only their syllables could be counted;
    if only a haiku could spread the globe in seconds.
  </p>

  <p>
    Haiku Village is the solution.
  </p>
</div>

<div class="about-bottom">
  <h3>Haiku Technologists</h3>

  <div style="float: left; width: 49%;">
    <div style="text-align: center">
      <%= image_tag 'mike.jpg', alt: 'Mike Spiz' %>
      <h5>Mike Spiz</h5>
    </div>
    <div class="center">
      <div style="text-align: left; zoom: 1; display: inline">
        <p><strong>Job Title:</strong> Haiku Presentation Consultant</p>
        <p><strong>Skills:</strong> Organizing and displaying haiku</p>
      </div>
    </div>
  </div>

  <div style="float: right; width: 49%;">
    <div style="text-align:center">
      <%= image_tag 'matt.jpg', alt: "Matthew Higgins" %>
      <h5>Matthew Higgins</h5>
    </div>
    <div class="center">
      <div style="text-align: left; zoom: 1; display: inline">
        <p><strong>Job Title:</strong> Chief Syllable Architect</p>
        <p><strong>Skills:</strong> Syllable counting and haiku validation</p>
      </div>
    </div>
  </div>
</div>
<br />