<?xml version="1.0" encoding="UTF-8"?>
<Module>
<ModulePrefs
    title="Haiku Village Daily Haiku"
    description="A randomly selected user submitted haiku, straight from Haiku Village!"
    author="Haiku Village"
    author_email="developer@matthewhiggins.com"
    category="lifestyle"
    category2="communication"
    height="150"
    screenshot="http://haikuvillage.com/images/haikuvillage.png"
    thumbnail="http://haikuvillage.com/images/haikuvillage_google_thumb.gif" />
<Content type="html"><![CDATA[
<style>
  body {
    border: 1px solid #A1C873;
    margin: 4px;
  }

  p {
    margin: 0;
    padding: 7px 0 0 8px;
  }

  a {
    color: #355CA6;
  }

  a.site-link {
    float: right;
    font-size: 85%;
    padding: 4px;
  }
 
  div.haiku {
    margin-top: 20px;
  }

  div.foot {
    color: gray;
    margin: 0;
    padding: 10px 0 0 8px;
  }
</style>

<%= link_to 'haikuvillage.com', "http://www.haikuvillage.com", :class => 'site-link', :popup => true %>

<div class="haiku">
<% @random_haiku.lines.each do |line| %>
  <p><%= line %></p>
<% end %>
</div>

<div class="foot">
  See more haikus by
  <%= link_to @random_haiku.author.username, {
        :controller => 'authors',
        :action => 'show',
        :id => @random_haiku.author.username,
        :only_path => false },
      :popup => true %>
</div>
]]>
</Content>
</Module>

