input[type="submit"], 
button {
  background-color: #F8F7F6;
  border: 1px solid #CBC7BD;
  moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #654B24;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: .1em;
  overflow: visible;
  padding: .4em 1em;
  position: relative;
  text-align: center;
  
  &:hover {
    color: white;
    background-color: #654b24;
    border-color: #654b24;
  }
  &[disabled],
  &[disabled]:hover {
    background-color: #ddd;
    border-color: #ccc;
    color: #aaa;
  }
}
