.pagination {
  span {
    float: left;    
    margin-right: 1px;
  }

  span.current, a {
    border: 1px solid #bbb;
    display: block;
    padding: 2px 6px 0px 6px;    
  }
  span.current {
    background: #a20000;
    color: white;
  }
  a {
    &:hover, &:focus {
      border-color: #a20000;
    }
  }
}