.submenu_items {
  overflow: hidden;

  li {
    float: left;
    margin-right: 7px;
    padding: 3px 0 1px 0;
  }
  li + li {
    border-left: 1px dotted #DADADA;
    padding-left: 8px;
  }
  li.selected {
    font-weight: bold;
  }
}

.submenu_content {
  margin: 10px 5px;
}