.icon {
  background: transparent url(/assets/icons.png) no-repeat scroll 0 0;
  padding: 2px 0 0 20px;
  &.mail {
    background-position: 0 0;
  }
  &.not-favorite {
    background-position: 0 -20px;
  }
  &.favorite {
    background-position: 0 -40px;
  }
  &.reply {
    background-position: 0 -60px;
  }
  &.trash {
    background-position: 0 -80px;
  }
}