#haiku-summary {
  border: 1px solid #999;
  clear: left;
  margin: 10px 0 0 0;
  padding: 8px;
}

.welcome {
  h1 {
    font-size: 24pt;
    line-height: 1.1;
    padding: 15px 25px 0 0;
  }
  p {
    font-size: 16pt;
    letter-spacing: -1px;
    line-height: 1.1;
    padding: 20px 90px 0 0;
  }
}