<div id="fb-root"></div>

<%= javascript_include_tag 'http://connect.facebook.net/en_US/all.js' %>

<script>
  FB.init({appId: '<%= fb.app_id %>', status: true, cookie: true, xfbml: true});
  FB.Event.subscribe('auth.sessionChange', function(response) {
    location.reload();
  });
</script>