!!! 5
%html
  %head
    %title= yield(:title)
    %link{rel: 'icon', href: '/images/favicon.ico'}
    %link{rel: 'icon', href: '/images/favicon.png', type: 'image/png'}
    = csrf_meta_tag
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'widgets/jquery-ui-1.8.5.custom'
    = stylesheet_link_tag 'application'
    = yield :head
    = yield :description
  %body
    #body
      = render 'header'
      - if flash[:notice]
        #notice.ui-state-highlight= flash[:notice]
      #content-wrap
        #content
          = yield
    #footer
      = link_to 'About', about_path
      |
      = link_to 'Feedback', 'http://haikuvillage.uservoice.com'
    - if Rails.env.production?
      = render 'analytics'
    = render 'facebook'
