<html>
<head>
  <title>Haikus: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'haiku' %>
  <%= stylesheet_link_tag 'main' %>  
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "haiku" %>
</head>
<body>

<div id="menu-x">
  <ul>
    <li><%= link_to "Home", :controller => " ", :action => "index" %></li>
    <li><%= link_to "Add Haiku", :controller => "haikus", :action => "new" %></li>
    <li><%= link_to "My Stuff", :controller => "mine", :action => "index" %>
      <ul>
        <li><%= link_to "My Tags", :controller => "mine", :action => "tags" %></li>
        <li><%= link_to "My Favorites", :controller => "mine", :action => "favorites" %></li>
        <li><%= link_to "My Haikus", :controller => "mine", :action => "index" %></li> 
      </ul>
    </li>
    <li>Groups</li>
      <ul>
        <li>Your Groups</li>
        <li>Recent Groups</li>
        <li>Create New Group</li>
      </ul>
    </li>
    <li><%= link_to "Explore", :controller => "haikus", :action => "index" %></li>
      <ul>
        <li><%= link_to "Popular Tags", :controller => "haikus", :action => "tags" %></li>
        <li><%= link_to "Popular Favorites", :controller => "haikus", :action => "favorites" %>
        <li><%= link_to "Recent Haikus", :controller => "haikus", :action => "recent" %>
      </ul>
    </li>
  </ul>
</div>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

<div id="footer">
  <div id="footer-left">
  <% if session[:user_id] -%>
    <%= link_to "logout", :controller => "login", :action => "logout" %>
  <% else -%>
    <%= link_to "login", :controller => "login", :action => "index" %>
  <% end %>  
  </div>
  
  <div id="footer-right">
    Haiku Village
  </div>  
</div>

</body>
</html>