<html>
<head>
  <title>Haikus: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "haiku" %>
</head>
<body>

<div id="navigation">
  <ul>
    <li>Add Haiku</li>
    <li></li>
  </ul>
</div>


<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>